<mat-toolbar class="mat-primary mat-toolbar-single-row mat-elevatmat-z8" color="primary">
    Tienda de Videos Juegos

    <div *ngIf="usuarioActual==null" class="botonesBarra">
        <button mat-raised-button (click)="login()">
            <mat-icon>person</mat-icon>
            Login
        </button>
    </div>
    <div *ngIf="usuarioActual!=null" class="botonesBarra">
        <button mat-raised-button (click)="cerrar()">
            <mat-icon>exit_to_app</mat-icon>
            salir
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>