<h1 mat-dialog-title>Editando Empresa</h1>
<div mat-dialog-content>
    <p>{{datos.encabezado}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="datos.empresa.nombre">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select [(value)]="datos.empresa.pais!.id">
            <mat-option *ngFor="let p of datos.paises" [value]="p.id">
                {{p.pais}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" cdkFocusInitial>Aceptar</button>
</div>
